<div class="container-fluid">
    <div class="row h-100 d-flex justify-content-center">
        <div class="col-4 mt-5">
            <b><legend style="color:black;" style="text-align:center;">Alta Usuario</legend></b>
            <form #form='ngForm' (ngSubmit)='insertar(form)' method="post" role="form" enctype="multipart/form-data">
                <p id="error" style="color:red; display: none;"></p>
                <input [(ngModel)]="usuario.nombre" name="nombre" type="text" class="form-control" placeholder="Nombre" required><br>
                <input [(ngModel)]="usuario.usuario" name="usuario" type="text" class="form-control" placeholder="Usuario" required><br>
                <input [(ngModel)]="usuario.correo" name="correo" type="text" class="form-control" placeholder=" Correo" required><br>
                <select [(ngModel)]="usuario.role" name="rol" class="form-control" required>
                <!-- <option value="" disabled selected >Rol</option>  -->
                <option value="1" >Administrador</option>
                <option value="2" selected >Usuario</option>
                </select><br>
                <input [(ngModel)]="usuario.contrasena" name="contrasena" type="password" class="form-control" placeholder=" Contraseña" required><br>

                <button type="submit" class=" btn btn-block active btn-dark">Agregar</button>
            </form>

        </div>
    </div>
</div>