<div class="container-fluid">
    <div class="row h-100 d-flex justify-content-center">
        <div class="col-4 mt-5">
            <b><legend style="color:black;" style="text-align:center;">ELiminar Usuario</legend></b>
            <form #form='ngForm' (ngSubmit)='eliminar(form)' method="post" role="form" enctype="multipart/form-data">
                <p id="error" style="color:red; display: none;"></p>
                <input [(ngModel)]="usuario.nombre" name="nombre" type="text" class="form-control" placeholder="Nombre" required><br>


                <button type="submit" class=" btn btn-block active btn-dark">Eliminar</button>
            </form>

        </div>
    </div>
</div>