<!-- <div class="title">
    <p class="altas">ALTAS DISPONIBLES</p>
</div>
<div class="container">
    <div class="row">
        <div routerLink="/vacantesForm" class="col-md-4"><button class="btn btn-dark" id="botonVacantes">
            <span>Vacantes</span>
        </button></div>

        <div routerLink="/RegEmp" class="col-md-4"><button type="submit" class="btn btn-primary" id="botonEmpresas">
            <span>Empresas</span></button></div>
        <div routerLink="/home" class="col-md-4"><button type="submit" class="btn btn-success" id="botonUsuarios">
            <span>Usuarios</span></button>
        </div>
    </div>
</div> -->
<div class="container-fluid">
    <div class="row row-cols-4">
        <div class="col-xs-2 col-md-3">
            <div class="card">
                <img src="./assets/vacantes.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 3vw;">Vacantes</h5>
                    <p class="card-text" style="font-size: 2vw;">Aqui podras dar de alta a los vacantes </p>
                    <br>
                    <a href="/vacantesForm" class="btn btn-primary btn-block btn-sm" style="font-size: 2vw;">Solicitar</a>
                </div>
            </div>
        </div>
        <div class="col-xs-2 col-md-3">
            <div class="card">
                <img src="./assets/empresas.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 3vw;">Empresas</h5>
                    <p class="card-text" style="font-size: 2vw;">Aqui podras dar de alta tu empresa</p>
                    <br>
                    <a href="/RegEmp" class="btn btn-primary btn-block btn-sm" style="font-size: 2vw;">Alta</a>
                </div>
            </div>
        </div>
        <div class="col-xs-2 col-md-3">
            <div class="card">
                <img src="./assets/usuarioIcon.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 3vw;">Usuarios</h5>
                    <p class="card-text" style="font-size: 2vw;">Podras dar alta a diferentes usuarios</p>
                    <br>
                    <a href="/usuario" class="btn btn-primary btn-block btn-sm" style="font-size: 2vw;">Alta</a>
                </div>
            </div>
        </div>
        <div class="col-xs-2 col-md-3">
            <div class="card">
                <img src="./assets/ev.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 3vw;">Evaluaciones</h5>
                    <p class="card-text" style="font-size: 2vw;">Podras evualuar a nuestros alumnos </p>
                    <a href="/Evaluacion" class="btn btn-primary btn-block btn-sm" style="font-size: 2vw;">Evaluar</a>
                </div>
            </div>
        </div>
    </div>
</div>