<!-- <div class="title">
    <p class="altas">ALTAS DISPONIBLES</p>
</div>
<div class="container">
    <div class="row">
        <div routerLink="/vacantesForm" class="col-md-4"><button class="btn btn-dark" id="botonVacantes">
            <span>Vacantes</span>
        </button></div>

        <div routerLink="/RegEmp" class="col-md-4"><button type="submit" class="btn btn-primary" id="botonEmpresas">
            <span>Empresas</span></button></div>
        <div routerLink="/home" class="col-md-4"><button type="submit" class="btn btn-success" id="botonUsuarios">
            <span>Usuarios</span></button>
        </div>
    </div>
</div> -->
<div class="container">
    <div class="container1">
        <div class="card">
            <img src="./assets/vacantes.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Vacantes</h5>
                <p class="card-text">Aqui podras dar de alta a los vacantes </p>
                <a href="/vacantesForm" class="btn btn-primary" style="width: 100px;">Solicitar</a>
            </div>
        </div>
    </div>
    <div class="container2">
        <div class="card">
            <img src="./assets/empresas.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Empresas</h5>
                <p class="card-text">Aqui podras dar de alta tu empresa</p>
                <a href="/RegEmp" class="btn btn-primary" style="width: 80px;">Alta</a>
            </div>
        </div>
    </div>
    <div class="container3">
        <div class="card">
            <img src="./assets/usuarioIcon.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Usuarios</h5>
                <p class="card-text">Podras dar alta a diferentes usuarios</p>
                <a href="/usuario" class="btn btn-primary" style="width: 80px;">Alta</a>
            </div>
        </div>
    </div>
</div>