<div class="title">
    <p class="altas">ALTAS DISPONIBLES</p>
</div>
<div class="container">
    <div class="row">
        <div routerLink="/home" class="col-md-4"><button class="btn btn-dark" id="botonVacantes">
            <span>Vacantes</span>
        </button></div>

        <div routerLink="/home" class="col-md-4"><button type="submit" class="btn btn-primary" id="botonEmpresas">
            <span>Empresas</span></button></div>
        <div routerLink="/home" class="col-md-4"><button type="submit" class="btn btn-success" id="botonUsuarios">
            <span>Usuarios</span></button>
        </div>
    </div>
</div>