<div class="container-fluid">
    <div class="row h-100 d-flex justify-content-center">
        <div class="col-md-6 mt-5">
            <legend>Evuala a nuestros alumnos</legend>
            <hr>
            <p id="error" style="color: red; display: none;"></p>
            <form #Forma="ngForm" (ngSubmit)="regEvaluacion(Forma) " method="post" role="form" enctype="multipart/form-data">
                perfil: <input name="nombre" id="nombre" type="text" [(ngModel)]="evaluacion.perfil" class="form-control" placeholder="Ingrese el nombre de la empresa">
                <label for="aceptado" class="labels">¿Nuestro alumno ha sido aceptado?  </label>
                <select type="text" class="form-control" name="aceptado" id="aceptado" [(ngModel)]="evaluacion.aceptado" requiered>
                        <option value="nada">Si</option>
                        <option value="poco">No</option>			      
                    </select>

                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span id="btnsubir" class="input-group-text upload" (click)="onUpload()">
                                    subir
                                </span>
                        </div>
                        <div class="custom-file">
                            <form action="/api/upload" method="post" enctype="multipart/form-data">
                                <input type="file" class="custom-file-input" id="input-custom-file" (change)="onfileChange($event)">
                                <label class="custom-file-label" for="input-custom-file">Choose file</label>
                            </form>

                        </div>
                    </div>
                </div>
                <!-- <br> CV aqui subes el archivo ivan <input name="cv" id="cv" type="text" [(ngModel)]="evaluacion.cv" class="form-control" placeholder="En vez de label tiene que ser un uloapd file"> -->
                <!-- <br> -->
                <button type="submit" class="btn btn-success">Registrar</button>
                <a routerLink='/altaButtons'>
                    <button id="myButton" class="btn btn-success">Regresar.</button>
                </a>
            </form>
        </div>
    </div>
</div>