<!-- <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0./css/font-awesome.min.css" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">

<div>
    <ul>
        <li>
            Nombre del Alumno:
            <i [class]="getIcon('nombre')" aria-hidden="true"></i>
        </li>
        <li>
            Apellidos del Alumno:
            <i [class]="getIcon('apellidos')" aria-hidden="true"></i>
        </li>
        <li>
            Teléfono del Alumno:
            <i [class]="getIcon('telefono')" aria-hidden="true"></i>
        </li>
        <li>
            Email del Alumno:
            <i [class]="getIcon('email')" aria-hidden="true"></i>
        </li>
        <li>
            Admitido (Si/No): //Aqui va un botón de si o no xdxdxd
        </li>
        <li>
            Encuesta de Satisfacción:: //Aqui va el link de la encuesta xdxdxd
        </li>
    </ul>
    <ul *ngFor="let student of studentsList">
        <li>{{student.nombre}}</li>
        <li>{{student.apellidos}}</li>
        <li>{{student.telefono}}</li>
        <li>{{student.email}}</li>
    </ul>
    <div>
        <ngb-pagination *ngIf="showPagination" [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage($event)">
        </ngb-pagination>
    </div>
</div> -->