<div class="logo"></div>
<div class="container-fluid">
    <div class="row h-100 d-flex justify-content-center">
        <div class="col-4 mt-5">
            <div class="titulo">
                <img id="img-login" class="sesion" src="../../assets/usuario.png">
                <b><legend style="color:black;" style="text-align:center;">INICIAR SESIÓN</legend></b>
                <form enctype="multipart/form-data">
                    <p id="error" style="color:red; display: none;"></p>
                    <input name="" type="text" class="form-control" placeholder="Por favor inserta tu   Correo"><br>
                    <input name="" type="password" class="form-control" placeholder="Por favor inserta tu Contraseña"><br>
                    <button type="submit" class=" btn btn-block active btn-dark">INGRESAR</button>
                </form>
            </div>
        </div>
    </div>
</div>