<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="re.component.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Registra Tu Empresa</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row h-100 d-flex justify-content-center">
            <div class="col-md-6 mt-5">
                <legend>Registra Tu Empresa</legend>
                <hr>
                <p id="error" style="color: red; display: none;"></p>
                Nombre: <input name="nombre" #name type="text" class="form-control" placeholder="Ingrese el nombre de la empresa"><br> Dirección: <input name="direccion" #address type="text" class="form-control" placeholder="Por favor ingrese la dirección"><br>                Correo: <input name="email" #email type="email" class="form-control" placeholder="Ingrese el correo"><br> Teléfono: <input name="telefono" #phone type="text" class="form-control" placeholder="Ingrese el teléfono"><br> RFC:
                <input name="rfc" #rfc type="text" class="form-control" placeholder="Ingrese el RFC"><br> Password: <input name="password" #password type="password" class="form-control" placeholder="Ingrese la Contraseña"><br> Confirmar Password:
                <input name="password" #cpassword type="password" class="form-control" placeholder="Ingrese nuevamente la Contraseña"><br> Ubicación:
                <select name="ubicacion" #lugar class="form-control" id="ubicacion">
                        <option value="Norte" selected>Norte</option> 
                        <option value="Sur">Sur</option>
                        <option value="Este">Este</option>
                    </select> Giro:
                <select name="giro" #giro class="form-control" id="giro">
                        <option value="Industrial" selected>Industrial</option> 
                        <option value="Servicios">Servicios</option>
                    </select> Tamaño: <select name="tamano" #size class="form-control" id="tamano">
                        <option value="Mediana" selected>Mediana</option> 
                        <option value="Micro">Micro</option>
                        <option value="Grande">Grande</option>
                    </select><br>
                <button class="btn btn-info" (click)="addEmpresa(name.value,address.value,email.value,phone.value,rfc.value,password.value,cpassword.value,lugar.value,giro.value,size.value)">Registrar</button>
            </div>
        </div>
    </div>
</body>

</html>