<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="re.component.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Registra Tu Empresa</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row h-100 d-flex justify-content-center">
            <div class="col-md-6 mt-5">
                <legend>Registra Tu Empresa</legend>
                <hr>
                <p id="error" style="color: red; display: none;"></p>
                <form #myForm="ngForm" (ngSubmit)="rere(myForm)">
                    Nombre: <input name="nombre" id="nombre" type="text" [(ngModel)]="reg.nombre" class="form-control" placeholder="Ingrese el nombre de la empresa"><br> Dirección: <input name="direccion" id="direccion" type="text" [(ngModel)]="reg.direccion"
                        class="form-control" placeholder="Por favor ingrese la dirección"><br> Correo: <input name="email" id="email" type="email" [(ngModel)]="reg.email" class="form-control" placeholder="Ingrese el correo"><br> Teléfono: <input name="telefono"
                        id="telefono" type="text" [(ngModel)]="reg.telefono" class="form-control" placeholder="Ingrese el teléfono"><br> RFC: <input name="rfc" id="rfc" type="text" [(ngModel)]="reg.rfc" class="form-control" placeholder="Ingrese el RFC"><br>                    Password: <input name="password" id="password" type="password" [(ngModel)]="reg.password" class="form-control" placeholder="Ingrese la Contraseña"><br>
                    <!-- Confirmar Password: <input name="password" id="password"  type="password" class="form-control" placeholder="Ingrese nuevamente la Contraseña"><br> -->
                    Ubicación: <select name="ubicacion" [(ngModel)]="reg.ubicacion" class="form-control" id="ubicacion">
                        <option value="Norte" selected>Norte</option> 
                        <option value="Sur">Sur</option>
                        <option value="Este">Este</option>
                    </select><br> Giro: <select name="giro" [(ngModel)]="reg.giro" class="form-control" id="giro">
                        <option value="Industrial" selected>Industrial</option> 
                        <option value="Servicios">Servicios</option>
                    </select><br> Tamaño: <select name="tamano" [(ngModel)]="reg.tamano" class="form-control" id="tamano">
                        <option value="Mediana" selected>Mediana</option> 
                        <option value="Micro">Micro</option>
                        <option value="Grande">Grande</option>
                    </select><br>
                    <button type="submit" class="btn btn-success">Registrar</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>