<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="re.component.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Registra Tu Empresa</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row h-100 d-flex justify-content-center">
            <div class="col-md-6 mt-6">
                <legend>Registra Tu Empresa</legend>
                <hr>
                <p id="error" style="color: red; display: none;"></p>
                <form (ngSubmit)="reEmpresa(myForm)" #myForm="ngForm" class="was-validated">
                    <div class="form-group">
                        <div class="col-md-12 mb-3">
                            <label for="nombre" class="labels">  Nombre: </label>
                            <input type="text" name="nombre" class="form-control" id="nombre" [(ngModel)]="re.nombre" pattern="[A-Za-z]+" minlength="5" maxlength="80" required />
                            <div class="valid-feedback">Valido.</div>
                            <div class="invalid-feedback">solo acepta letras</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 mb-3">
                            <label for="direccion" class="labels">  Dirección: </label>
                            <input type="text" name="direccion" class="form-control" id="direccion" [(ngModel)]="re.direccion" required />
                            <div class="valid-feedback">Valido.</div>
                            <div class="invalid-feedback">Introduzca la dirección</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 mb-3">
                            <label for="email" class="labels">  Correo Electrónico: </label>
                            <input type="email" name="email" class="form-control" id="email" [(ngModel)]="re.email" minlength="10" maxlength="80" required />
                            <div class="valid-feedback">Valido.</div>
                            <div class="invalid-feedback">Introduzca correo electronico valido</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 mb-3">
                            <label for="telefono" class="labels">  Telefono: </label>
                            <input type="tel" name="telefono" class="form-control" id="telefono" [(ngModel)]="re.telefono" required pattern="[0-9]{9}" />
                            <div class="valid-feedback">Valido.</div>
                            <div class="invalid-feedback">Introduzca telefono</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 mb-3">
                            <label for="rfc" class="labels">  RFC: </label>
                            <input type="text" name="rfc" class="form-control" id="rfc" [(ngModel)]="re.rfc" required />
                            <div class="valid-feedback">Valido.</div>
                            <div class="invalid-feedback">Introduzca el RFC</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 mb-3">
                            <label for="password" class="labels"> Contraseña: </label>
                            <input type="password" name="password" class="form-control" id="password" [(ngModel)]="re.password" required />
                            <div class="valid-feedback">Valido.</div>
                            <div class="invalid-feedback">Introduzca la contraseña</div>
                        </div>
                    </div>
                    <!-- Confirmar Password: <input name="password" id="password"  type="password" class="form-control" placeholder="Ingrese nuevamente la Contraseña"><br> -->
                    <div class="form-group">
                        <div class="col-md-12 mb-3">
                            <label for="ubicacion" class="labels">Ubicación: </label>
                            <select class="form-control" name="ubicacion" id="ubicacion" [(ngModel)]="re.ubicacion" required>
                        <option value="Norte">Norte</option>
                        <option value="Sur">Sur</option>
                        <option value="Este">Este</option>			      
                    </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 mb-3">
                            <label for="giro" class="labels">Giro: </label>
                            <select class="form-control" name="giro" id="giro" [(ngModel)]="re.giro" required>
                        <option value="Industrial">Industrial</option>
                        <option value="Servicios">Servicios</option>
                        <!-- <option value="Este">Este</option>			       -->
                    </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 mb-3">
                            <label for="tamano" class="labels">Tamaño: </label>
                            <select class="form-control" name="tamano" id="tamano" [(ngModel)]="re.tamano" required>
                        <option value="Micro">Micro</option>
                        <option value="Mediana">Mediana</option>
                        <option value="Grande">Grande</option>			      
                    </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success" id="buttonSend">Registrar</button>
                    <a routerLink='/altaButtons'>
                        <button id="myButton" class="btn btn-success" id="regresar">Regresar</button>
                    </a>
                </form>
            </div>
        </div>
    </div>
</body>

</html>